global_defs {
    router_id KUBERNETES_{{ inventory_hostname }}
}

vrrp_script chk_haproxy {
    script "/usr/bin/systemctl is-active --quiet haproxy"
    interval 2
    weight -20
}

vrrp_instance VI_KUBERNETES {
    state {% if inventory_hostname == groups['control_plane'][0] %}MASTER{% else %}BACKUP{% endif %}

    interface {{ ansible_default_ipv4.interface }}

    virtual_router_id 51
    priority {{ 200 - groups['control_plane'].index(inventory_hostname) }}

    advert_int 1

    authentication {
        auth_type PASS
        auth_pass KubernetesHA
    }

    virtual_ipaddress {
        {{ control_plane_endpoint.split(':')[0] }}
    }

    track_script {
        chk_haproxy
    }
}
